[submodule "external/SuperGluePretrainedNetwork"]
	path = external/SuperGluePretrainedNetwork
	url = git@github.com:tompritch30/SuperGluePretrainedNetwork.git
[submodule "external/SuperPoint"]
	path = external/SuperPoint
	url = git@github.com:tompritch30/SuperPoint.git
[submodule "external/LightGlue"]
	path = external/LightGlue
	url = https://github.com/tompritch30/LightGlue
[submodule "external/glue-factory"]
	path = external/glue-factory
	url = https://github.com/tompritch30/glue-factory
